:root {
    --very-light-pink: #C7C7C7;
    --white: #FFFFFF;
    --text-input-field: rgb(38, 38, 38);
    --black: #000000;
    --hospital-green: #ACD9B2;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    }

    body {
        margin: 0;
        font-family: 'Quicksand', sans-serif;
        background-color: rgb(48, 48, 48);
    }

    .nav_bar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 8px 30px;
        background-color: rgb(38, 38, 38);
        border-bottom: 1px solid var(--very-light-pink);
    }

    .logo {
        width: 160px;
    }

    .nav_bar .bi {
        font-size: 1.4rem;
        color: var(--very-light-pink);
        text-decoration: none;
    }

    .nav_bar ul {
        display: flex;

        list-style: none;
    }

    .nav_right a {
        cursor: pointer;
        color: var(--very-light-pink);
        text-decoration: none;
    }

    .nav_bar ul li {
        display: inline-block;
        padding: 12px;
        border: 1px solid rgb(48, 48, 48);
        border-radius: 6px;
        margin: 4px;
    }

    .nav_bar ul li:hover {
        border-color: var(--hospital-green);
    }

    .nav_bar ul li a {
        color: var(--very-light-pink);
        text-decoration: none;
    }

    .desktop-menu {
        position: absolute;
        top: 102px;
        right: 40px;

        width: 100px;
        height: auto;
        padding: 14px 22px;

        border-radius: 6px;
        border: 1px solid var(--very-light-pink);
        background-color: var(--text-input-field);
    }

    .inactive {
        display: none;
    }

    .desktop-menu a {
        color: var(--black);
        text-decoration: none;
    }

    .desktop-menu ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .desktop-menu ul li:not(:last-child) {
        text-align: end;
        margin: 8px 0;
        font-weight: bold;
        margin-bottom: 18px;
    }

    .desktop-menu ul li:last-child {
        text-align: end;
        padding-top: 20px;
        border-top: 1px solid var(--very-light-pink);
    }

    .desktop-menu ul li:last-child a{
        color: var(--hospital-green);
        font-size: var(--sm);
    }

    @media (max-width: 640px) {
        .nav_bar ul {
            display: none;
        }

        .email {
            display: none;
        }
    }