:root {
    --dark-blue: #0D1B2A;
    --secondary-blue: #1B263B;
    --primary-blue: rgb(65, 90, 119);
    --light-blue: #778DA9;
    --light-text-color: #E0E1DD;
    --off-white: #faf8f7;
    --warm-black: #202623;
    --very-light-blue: rgb(119, 141, 169, 0.15);
}

/* Estilos generales */
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Estilos del nav */
.nav{
    display: flex;
    position: fixed;
    justify-content: space-between;

    width: 100%;
    padding: 8px 22px;
    height: 55px;
    background-color: var(--light-blue);
}

.nav__img {
    width: 40px;
}

.nav__container {
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__container_item {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--light-text-color);
}

/* Estilos del header */
.header {
    display: flex;
    flex-direction: column;
    gap: 6px;

    width: 100%;
    height: 230px;
    min-width: 320px;
    padding-top: 60px;

    text-align: center;
    background-image: linear-gradient(to right bottom, #0d1b2a, #253547, #3f5066, #5a6e87, #778da9);
}

.header__img {
    width: 175px;
    margin-top: 12px;
    align-self: center;
}

.header__title {
    align-self: center;
    margin-top: 8px;

    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 240px;

    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--light-text-color);
}

/* Estilos de la sección de servicios */
.servicios {
    margin-top: 12px;
}

.servicios__container_general {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.servicios__title {
    color: var(--primary-blue);
    font-size: 2.4rem;
    margin: 20px;
    text-align: center;
}

.section_servicios {
    display: flex;
    gap: 12px;
    justify-content: space-between;

    width: 90%;
    max-width: 410px;
    max-height: 200px;
    border: 1px solid var(--light-blue);
    padding: 10px;

    border-radius: 10px;
    background-color: var(--off-white);
    -webkit-box-shadow: 5px 5px 22px -7px rgba(65,90,119,1);
    -moz-box-shadow: 5px 5px 22px -7px rgba(65,90,119,1);
    box-shadow: 5px 5px 22px -7px rgba(65,90,119,1);
}

.servicios__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.servicios__container_descripcion h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 6px 0;
    font-size: 1.5rem;
    color: var(--primary-blue);
}

.servicios__container_descripcion p {
    font-size: 1.1rem;
    color: #778DA9;
    line-height: 20px;
}

.servicios__img {
    width: 30%;
    border-radius: 10px;
}

/* Estilos de la sección de clientes*/
.clientes__testimonios {
    gap: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    margin: 20px 0;
}

.clientes__container {
    gap: 12px;
    display: flex;
    justify-content: space-between;

    width: 90%;
    max-width: 450px;
    padding: 16px;
    border: 1px solid var(--primary-blue);

    border-radius: 10px;
    background-color: var(--very-light-blue);
    -webkit-box-shadow: 5px 5px 12px -7px rgba(65,90,119,1);
    -moz-box-shadow: 5px 5px 12px -7px rgba(65,90,119,1);
    box-shadow: 5px 5px 12px -7px rgba(65,90,119,1);
}

.clientes__img {
    width: 40px;
    height: 40px;
}

.clientes__nombres {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--primary-blue);
}

.clientes__opinion {
    line-height: 20px;
    font-size: 1.3rem;
    color: var(--primary-blue);
}

.clientes__estrellas {
    color: var(--light-blue);
    display: inline-block;
}

/* Estilos de la sección de contacto*/
.contacto__subtitle {
    color: var(--primary-blue);
    font-size: 1.7rem;
    text-align: center;
}

.contacto__p {
    color: var(--primary-blue);
    padding: 0 16px 12px;
    text-align: center;
    font-size: 1.3rem;
}

.contacto__mapa {
    width: 80%;
    max-width: 480px;
    border-radius: 10px;
    border: 1px solid var(--very-light-blue);
    -webkit-box-shadow: 5px 5px 12px -7px rgba(65,90,119,1);
    -moz-box-shadow: 5px 5px 12px -7px rgba(65,90,119,1);
    box-shadow: 5px 5px 12px -7px rgba(65,90,119,1);
}

.contacto__ubicacion {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.servicios__container_general {
    display: flex;
    flex-direction: row;
}

.contacto__container {
    margin: 20px;
}

.contacto__horario {
    margin: 12px;

    font-size: 1.3rem;
    color: var(--primary-blue);
    line-height: 20px;

    list-style: none;
}

.contacto__container_botones {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.contacto__botones {
    width: 130px;
    padding: 8px;
    border: 0.5px solid var(--light-blue);

    color: white;

    background-color: var(--light-blue);
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 12px -7px rgba(65,90,119,1);
    -moz-box-shadow: 5px 5px 12px -7px rgba(65,90,119,1);
    box-shadow: 5px 5px 12px -7px rgba(65,90,119,1);
}

/* Estilos del footer*/

.footer {
    text-align: center;

    width: 100%;
    height: 50px;
    padding: 20px;
    margin-top: 20px;

    color: white;
    font-size: 1.1rem;

    background-color: var(--primary-blue);
}

@media (min-width: 375px) {
    .servicios__container_descripcion p {
        font-size: 1.3rem;
    }

    .servicios__container_descripcion h3 {
        font-size: 1.9rem;
    }
}

@media (min-width: 425px) {
    .nav__container_item {
        font-size: 1.4rem;
    }

    .servicios__container_descripcion p {
        font-size: 1.6rem;
        margin: 12px 0;
    }

    .servicios__title {
        font-size: 2.8rem;
    }

    .clientes__testimonios {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .clientes__opinion {
        font-size: 1.7rem;
    }

    .clientes__container {
        padding: 28px;
    }

    .contacto__ubicacion {
        width: 50%;
        height: 200px;
    }

    .contacto__mapa {
        height: 280px;
    }

    .contacto__container {
        width: 30%;
    }

    .contacto__container li {
        font-size: 1.4rem;
    }

    .contacto__subtitle {
        font-size: 2.3rem;
    }

    .contacto__horario {
        line-height: 30px;
    }

    .contacto__p {
        font-size: 1.7rem;
    }

    .footer {
        font-size: 1.4rem;
    }
}